html {
  position: relative;
  min-height: 100%;
}

body {
/* Margin bottom by footer height */
margin-bottom: 60px;
}

.footer {
position: absolute;
bottom: 0;
width: 1440px;
/* Set the fixed height of the footer here */
height: 94px;
line-height: 60px;
background: rgba(0, 167, 121, 0.81);
}


.footcontainer {
	color: #ffffff;
	padding: 32px 0px 35px 0px;
}

.copyright{
  font-size: 20px;
  width: 203px;
  height: 27px;
  font-weight: bold;
  font-style: normal;
  float:left;
  padding: 0px 0px 0px 416px;
  color: #ffffff;
}

.footerlist {
	font-size: 20px;
    font-weight: 600;
    font-style: normal;
	padding: 0px 0px 0px 775px;
  }

  .footerlist li {
  display: inline-block;
  margin: 0px 0px 0px 26px;
}